body{
	margin: 0%;
	padding: 0%;
	background-color: rgba(0,0,0,0.938);
}

.navbar{
	background-color: transparent;
	position: relative;
	z-index: 4;
}

.nav-link{
	font-size: 14px;
}
main{
	position: absolute;
	top: 0%;
	z-index: 0%;
}

.carousel-control-prev, .carousel-control-next{
	width: 8%;
}

.site-wrapper{
	height: 640px;
}